h1,
h2,
p,
ul,
ol,
li,
figure,
table,
th,
td,
a {
  margin: 10px;
  padding: 10px;
  text-decoration: none;
  list-style-type: none;
}

a {
    color: #FCFCFE;
}

div {
    text-align: center;
    align-items: center;
    height: 25ch;
}

body {
    font-family: "Roboto Slab", serif;
    background-color: #FCFCFE;
    color: #000000;
    height: 100vh;
    padding: 0;
    margin: 0;
}

header {
    color: #FCFCFE;
    background-color: #6F2BFC;
    text-align: center;
    display: flex;
    padding: 25px;
}

h1 {
    text-align: center;
}

.presentation {
    background-color: #FCFCFE;
    padding: 0;
    margin: 0;
}

.aboutme {
    background-color: #FCFCFE;
}

svg {
    height: 25px;
    width: 100px;
}

footer {
    background-color: #6F2BFC;
    text-align: center;
    color: #FCFCFE;
}